.footer{
    text-align:center;
    background-color: $black-color;
    font-size: 2rem;
    padding: 3rem 0;

    &__copyright  {
        color:$white-color;
    }

    &__icons {
        color:white;
        font-size:3rem;
    }

    &__icons li {
        display:inline-block;
        padding:2rem;

    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color:$white-color;
        padding:1rem 0;
        font-weight:100;
    }
}