.nav{
    

    &__mobleIcon {
        display:none;
        float: right;
        margin-top:30px;
        cursor: pointer;
        font-size: 30px;
    }

    @include respond(phone) {
        

        &__logo {
            border-radius: 25%;
            height: 50px !important;
            margin-left:20px;
        }
        &__mobleIcon{
            display: inline-block;
        }

        &__main{
            display: none;
            float: left !important;
            margin-top: 20px !important;
            margin-left: 5px  !important;
        }

        &__main li{
            display: block !important;
            padding:10px;
        }

        &__main li a{
            font-size: 18px !important;
            margin-left: 40px;
            padding:10px;
            border:none !important;
        }
        &__sticky {
            position:fixed;
            top:0;
            left:0;
            width:100%;
            background: rgba(255, 255, 255, 0.98);
            z-index: 1;
    
        }
        
    }



    &__sticky {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        background: rgba(255, 255, 255, 0.98);
        z-index: 1;

    }
    &__logo{
        border-radius:5px;
        width: auto;
        height: 60px;
        float:left;
        margin-top: 20px;
        margin-bottom: 1rem;
    }

    &__main{
        float:right;
        list-style: none;
        margin-top:2%;
    }
    &__main li{
        display: inline-block;
        margin-left: 40px;
    }
    &__main a:link,
    &__main a:visited{
        padding: 8px 0;
        text-decoration: none;
        color: $black-color;
        text-transform: uppercase;
        font-size:1.8rem;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.7s;
    }

    &__main a:hover,
    &__main a:active{
        border-bottom: 2px solid $black-color;
    }
}