.card {
    height: 40rem;
    background-color: $white-color;
    padding: 3em;
    display: inline-block;

    &--mod {
        margin-left:15.5rem;
        @include respond(tab-port) {
            margin-left: 0;   
        }   
    }

    &__heading {
        font-size:3.0rem;
        text-align:center;
        background-color: $black_color;
        color: $white-color;
    }

&__details {
    padding: 2rem;

    ul{
        list-style: none;
        width:80%;
        margin: 0 auto;
        padding: 0;

        li{
            font-weight:700;
            text-align:center;
            font-size:2.0rem;
            padding:2rem;

            &:not(:last-child) {
                border-bottom: 1px solid $black_color;
            }
        }
    }
}

}
