.heading-secondary {
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 10px;    
}

.heading-third {
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-bottom: 5rem;    
}

.paragraph {
    font-size: $default-font-size;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    font-weight: 400;

    @include respond(phone) {
        line-height: 34px;
    }
}