.heading-secondary {
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 10px;    
}

.paragraph {
    font-size: $default-font-size;
    line-height: 4rem;
    letter-spacing: 0.3rem;
    font-weight: 400;
}