.u-text-center {
    text-align: center !important;
}

.u-margin-top {
    margin-top: 2rem;
}

.u-margin-bottom {
    margin-bottom: 2rem;
}

.u-margin-bottom-big {
    margin-bottom: 6rem;
}
.u-padding {
    padding: 3rem;
}