
.section-gallery {
    text-align:center; 
}

.section-about{
    padding: 5rem 0 15rem 0;
    background-color: $lightGray-color;
}

.section-book {
    padding: 10rem 0 30rem;
    background-image:linear-gradient(to right bottom, white, red);

    @include respond(tab-port) {
        padding: 10rem 0 20rem 0rem;
    }
}

.section-services {
    padding: 10rem 0 15rem 0;
    background-color: $lightGray-color;
    text-align:center;
    position:relative;
    margin: 0 auto;
}

// .services{
//     display:flex;
//     justify-content: center;
// }

.book{
    text-align:center;
    height: 44rem;
    border-radius: 3px;

    &__form{
        min-width: 450px;
        margin: 0 auto;
        width:50%;
        padding: 6rem;
        background-color:white;
        box-shadow: 0 1.5rem 4rem rgba($black-color, .15);

        @include respond(tab-port) {
            width:90%;
        }
    }
}